<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Heroku Tutorial</title>
  </head>
  <body>
    <h1>SUCCESS!!!</h1>

    <h3>You have just uploaded your first Heroku web application!</h3><br>
    <h6>(Or maybe it's your fifth time, but it's always cool to get to this point)</h6>



    <h3>Add two numbers</h3>
    <form class="" action="exampleMath" method="post">
      <input type="text" name="numberOne" value="" placeholder="first number">
      <input type="text" name="numberTwo" value="" placeholder="second number">
      <input type="submit" name="Submit" value="Submit" placeholder="Submit">
    </form>

  </body>
</html>
